@font-face {
  font-family: moderno;
  src: url(../font/MuseoModerno.ttf);
}

@font-face {
  font-family: oswald;
  src: url(../font/Oswald-Regular.ttf);
}

@font-face {
  font-family: vollkorn;
  src: url(../font/Vollkorn-Regular.ttf);
}

@font-face {
  font-family: vollkorn;
  src: url(../font/Vollkorn-Bold.ttf);
	font-weight: bold;
}

html {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-Y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 120%;
  font-family: "vollkorn", "Trebuchet MS", sans-serif;
  color: #d9d9bf;
  display: grid;
	background: url(../img/attractor_01.jpg)  no-repeat center fixed;
  background-color: #d2d2be;
}

.page {
  display: grid;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.column {
  display: grid;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container-1c, .container-2c, .container-3c {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  grid-gap: 0.2vw;
}

.container-1c {
  grid-template-columns: 1fr;
}

.container-2c {
  grid-template-columns: 1fr 1fr;
}

.container-3c {
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  width: 96%;
  float: center;
  margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
  padding: 4vh;
	border-radius: 16px;
}

.box.red {
	background-color: #4c2020f4;
}

.box.green {
	background-color: #203020f4;
}

.box.blue {
	background-color: #1f365ff4;
}

button {
  background-color: #d2d2be;
  font-family: "oswald", "Trebuchet MS", sans-serif;
  font-size: 130%;
  border: none;
  border-radius: 8px;
  color: #343420;
  margin: 2px 2px;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #343420;
	color: #d2d2be;
}

button:active {
	background-color: #d2d2be;
	color: #343420;
}

button.small {
  width: 40%;
}

button.big {
  width: 60%;
}

ul, ol {
	display: block;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: : 5px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul {
	list-style-image: url("../img/dot.png")
}

@media screen and (max-width: 1600px) {
  .page {
    width: 75%;
  }
  .column {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    width: 90%;
  }
  .column {
    width: 90%;
  }
  .container-3c {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .page {
    width: 90%;
  }
  .column {
    width: 90%;
  }
  .container-2c, .container-3c {
    grid-template-columns: 1fr;
  }
}

h1, h2, h3 {
	font-family: "moderno", "Trebuchet MS", sans-serif;
  color: #d2d2be;
  padding: 0 0 0 0;
  text-align: left;
  text-decoration: none;
}

h1 {
	font-size: 170%;
	margin: 2px 2px 2vh 2px;
}

h2 {
  font-size: 125%;
	margin: 2px 2px 2vh 2px;
}

h3 {
  font-size: 125%;
	margin: 4vh 2px 2vh 2px;
}

iframe {
  width: 90%;
	display: block;
  background-color: inherit;
  border-width: 0;
  margin-left: auto;
	margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

iframe.full {
  height: 90%;
  min-height: 40vh;
}

iframe.video {
  padding: 1vh;
}

audio {
	display: block;
	width: 90%;
	padding: 1vh;
	transform: scale(0.9);
}

input {
	width: 100%;
	font-size: 70%;
	padding: 2%;
  margin: 3px 0 6px 0;
	background-color: #d2d2be;
	border-color: #343420;
	border-radius: 8px;
  box-sizing: border-box;
}

select {
	width: 100%;
	font-size: 70%;
	padding: 2%;
  margin: 3px 0 6px 0;
	background-color: #d2d2be;
	border-color: #343420;
	border-radius: 8px;
  box-sizing: border-box;
}

input[type=submit] {
	width: 35%;
	background-color: #d2d2be;
	font-family: "oswald", "Trebuchet MS", sans-serif;
	font-size: 130%;
	border: none;
	border-radius: 8px;
	color: #343420;
	margin: 2px 2px;
	padding: 2%;
	text-align: center;
	text-decoration: none;
}

input[type=submit]:hover {
  background-color: #343420;
	color: #d2d2be;
}

input[type=submit]:active {
	background-color: #d2d2be;
	color: #343420;
}

label {
  padding: 2%;
	margin: 0;
  display: inline-block;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 16px;
 	padding: 1vh;
}

img.vcenter {
  margin-bottom: auto;
  margin-top: auto;
}

img.small {
  width: 20vh;
}

p {
	margin: 0 0 2vh 0;
}

a {
  text-decoration: none;
}
a:link {
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}
a:hover {
  color: #22ccff;
}

.t_center {
  text-align: center;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
}

.t_mono {
  font-family: monospace;
	font-size: 135%;
}

.vimeo {
	display: block;
	width: 100%;
	margin: auto;
	padding: 0.5%;
}
